<%- include("./partials/header"); %>
<%- include("partials/header"); %>

<h1 class="margin_top">Blog</h1>

<% blogs.forEach((blog)=>{ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <span><%= blog.created.toDateString()%></span>
        <p><%=blog.body.substring(0,100)%>...</p>
        <a href="/blogs/<%=blog._id%>">Read more</a> <br>
        <a href="/blogs/<%=blog._id%>/edit">Edit</a>
    </div>
<% }); %>


<%- include("partials/footer"); %>
